* {
    font-family: Arial, sans-serif;
}

body {
    margin: 20px;
    background: rgb(49, 49, 49);
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    width: 80%;
    height: auto;
}

.img{
    border-radius: 8px;
}

.hfu {
width: 60%;
height: auto;
}

.hfu-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 8px; /* Ecken abrunden */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p, li {
    color: white
}

sub {
    font-size: 12px;
    padding-bottom: 20px;
}

li {
    line-height: 25px;
}

p{
    line-height: 25px;
    padding-bottom: 15px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

.vid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Ecken abrunden */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.main-container {
    background-color: #008954;
    margin: -20px;
    border-radius: 20px 20px 0 0;
    margin-top: 380px;
    padding: 20px;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #008954);
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .main-container {
        width: 390px;
        height: auto;
        background-color: #008954;
        margin: -20px;
        border-radius: 20px 20px 0 0;
        margin-top: 380px;
        padding: 20px;
        
    }
    
    .background {
        width: 390px;
        height: 844px;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        padding: 20px;
        
    }
}