* {
    font-family: Arial, sans-serif;
}

body {
    margin: 20px;
    background: linear-gradient(to bottom, #ffffff, #285252);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    width: 70%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    /* Stile für Mobilgeräte */
    body {
        flex-direction: column;
    }
}

h1, h2, p {
    color: white
}

.vid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Ecken abrunden */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.main-container {
    background-color: #285252;
    margin: -20px;
    border-radius: 20px 20px 0 0;
    margin-top: 380px;
    padding: 20px;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 20px;
    
}